<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Novamira AdrianV2">
            <directory>tests</directory>
            <exclude>tests/FixKitStylesForPageIntegrationTest.php</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">includes</directory>
        </include>
        <exclude>
            <directory suffix=".php">includes/abilities</directory>
        </exclude>
    </source>
    <coverage>
        <report>
            <text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="false"/>
        </report>
    </coverage>
    <php>
        <env name="WP_TESTS_DOMAIN" value="solar.local"/>
        <env name="WP_TESTS_DIR" value="/tmp/wordpress-tests-lib"/>
    </php>
</phpunit>
